

.mainfooter {
    font-size: 8pt;
    font-weight: normal;
}


.flowCrumbs{
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    text-indent: 8px;
}

.leftVerticalEdge {
    border-left-style: dotted;
    border-left-width: 1px;
    margin-left: 2px;
    padding-left: 5px;
}


.breadcrumbsepratator{
    background: url(icons/breadcrumbseparator.png) no-repeat;
    -background: url(icons/breadcrumbseparator.png) no-repeat 0px 0px;
    width:10px;
    height:35px;
}

.dp-banner {}
.dp-banner .topCenter{
  background: url(images/dp-banner.topCenter.png) repeat-x;
}
.dp-banner .bottomCenter {
  background: url(images/dp-banner.bottomCenter.png) repeat-x;
}
.dp-banner .middleLeft {
  background: url(images/dp-banner.left.png) repeat-y;
}
.dp-banner .middleRight {
  background: url(images/dp-banner.right.png) repeat-y;
}
.dp-banner .topLeftInner {
  width: 2px;
  height: 2px;
  zoom: 1;
}
.dp-banner .topRightInner {
  width: 2px;
  height: 2px;
  zoom: 1;
}
.dp-banner .bottomLeftInner {
  width: 2px;
  height: 2px;
  zoom: 1;
}
.dp-banner .bottomRightInner {
  width: 2px;
  height: 2px;
  zoom: 1;
}
.dp-banner .topLeft {
  background: url(images/dp-banner.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-banner.topLeft.png) no-repeat 0px 0px;
}
.dp-banner .topRight {
  background: url(images/dp-banner.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-banner.topRight.png) no-repeat 0px 0px;
}
.dp-banner .bottomLeft {
  background: url(images/dp-banner.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-banner.bottomLeft.png) no-repeat 0px 0px;
}
.dp-banner .bottomRight {
  background: url(images/dp-banner.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-banner.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-banner .topLeftInner {
  width: 2px;
  height: 2px;
  overflow: hidden;
}
* html .dp-banner .topRightInner {
  width: 2px;
  height: 2px;
  overflow: hidden;
}
* html .dp-banner .bottomLeftInner {
  width: 2px;
  height: 2px;
  overflow: hidden;
}
* html .dp-banner .bottomRightInner {
  width: 2px;
  height: 2px;
  overflow: hidden;
}


.dp-main {}
.dp-main .middleCenter {
    background-color: #ffffff;
}
.dp-main .topCenter{
  background: url(images/dp-main.topCenter.png) repeat-x;
}
.dp-main .bottomCenter {
  background: url(images/dp-main.bottomCenter.png) repeat-x;
}
.dp-main .middleLeft {
  background: url(images/dp-main.left.png) repeat-y;
}
.dp-main .middleRight {
  background: url(images/dp-main.right.png) repeat-y;
}
.dp-main .topLeftInner {
  width: 20px;
  height: 124px;
  zoom: 1;
}
.dp-main .topRightInner {
  width: 20px;
  height: 124px;
  zoom: 1;
}
.dp-main .bottomLeftInner {
  width: 20px;
  height: 44px;
  zoom: 1;
}
.dp-main .bottomRightInner {
  width: 20px;
  height: 44px;
  zoom: 1;
}
.dp-main .topLeft {
  background: url(images/dp-main.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-main.topLeft.png) no-repeat 0px 0px;
}
.dp-main .topRight {
  background: url(images/dp-main.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-main.topRight.png) no-repeat 0px 0px;
}
.dp-main .bottomLeft {
  background: url(images/dp-main.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-main.bottomLeft.png) no-repeat 0px 0px;
}
.dp-main .bottomRight {
  background: url(images/dp-main.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-main.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-main .topLeftInner {
  width: 20px;
  height: 124px;
  overflow: hidden;
}
* html .dp-main .topRightInner {
  width: 20px;
  height: 124px;
  overflow: hidden;
}
* html .dp-main .bottomLeftInner {
  width: 20px;
  height: 44px;
  overflow: hidden;
}
* html .dp-main .bottomRightInner {
  width: 20px;
  height: 44px;
  overflow: hidden;
}

.dp-pickpage {}
.dp-pickpage .middleCenter {
    background-color: #ffffff;
}
.dp-pickpage .topCenter{
  background: url(images/dp-pickpage.topCenter.png) repeat-x;
}
.dp-pickpage .bottomCenter {
  background: url(images/dp-pickpage.bottomCenter.png) repeat-x;
}
.dp-pickpage .middleLeft {
  background: url(images/dp-pickpage.left.png) repeat-y;
}
.dp-pickpage .middleRight {
  background: url(images/dp-pickpage.right.png) repeat-y;
}
.dp-pickpage .topLeftInner {
  width: 18px;
  height: 29px;
  zoom: 1;
}
.dp-pickpage .topRightInner {
  width: 18px;
  height: 29px;
  zoom: 1;
}
.dp-pickpage .bottomLeftInner {
  width: 18px;
  height: 33px;
  zoom: 1;
}
.dp-pickpage .bottomRightInner {
  width: 18px;
  height: 33px;
  zoom: 1;
}
.dp-pickpage .topLeft {
  background: url(images/dp-pickpage.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.topLeft.png) no-repeat 0px 0px;
}
.dp-pickpage .topRight {
  background: url(images/dp-pickpage.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.topRight.png) no-repeat 0px 0px;
}
.dp-pickpage .bottomLeft {
  background: url(images/dp-pickpage.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.bottomLeft.png) no-repeat 0px 0px;
}
.dp-pickpage .bottomRight {
  background: url(images/dp-pickpage.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-pickpage .topLeftInner {
  width: 18px;
  height: 29px;
  overflow: hidden;
}
* html .dp-pickpage .topRightInner {
  width: 18px;
  height: 29px;
  overflow: hidden;
}
* html .dp-pickpage .bottomLeftInner {
  width: 18px;
  height: 33px;
  overflow: hidden;
}
* html .dp-pickpage .bottomRightInner {
  width: 18px;
  height: 33px;
  overflow: hidden;
}


.dp-separator {}
.dp-separator .middleCenter {
    background-color: #f5f5f5;
}
.dp-separator .topCenter{
  background: url(images/dp-separator.topCenter.png) repeat-x;
}
.dp-separator .bottomCenter {
  background: url(images/dp-separator.bottomCenter.png) repeat-x;
}
.dp-separator .middleLeft {
  background: url(images/dp-separator.left.png) repeat-y;
}
.dp-separator .middleRight {
  background: url(images/dp-separator.right.png) repeat-y;
}
.dp-separator .topLeftInner {
  width: 8px;
  height: 6px;
  zoom: 1;
}
.dp-separator .topRightInner {
  width: 8px;
  height: 6px;
  zoom: 1;
}
.dp-separator .bottomLeftInner {
  width: 8px;
  height: 6px;
  zoom: 1;
}
.dp-separator .bottomRightInner {
  width: 8px;
  height: 6px;
  zoom: 1;
}
.dp-separator .topLeft {
  background: url(images/dp-separator.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-separator.topLeft.png) no-repeat 0px 0px;
}
.dp-separator .topRight {
  background: url(images/dp-separator.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-separator.topRight.png) no-repeat 0px 0px;
}
.dp-separator .bottomLeft {
  background: url(images/dp-separator.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-separator.bottomLeft.png) no-repeat 0px 0px;
}
.dp-separator .bottomRight {
  background: url(images/dp-separator.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-separator.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-separator .topLeftInner {
  width: 8px;
  height: 6px;
  overflow: hidden;
}
* html .dp-separator .topRightInner {
  width: 8px;
  height: 6px;
  overflow: hidden;
}
* html .dp-separator .bottomLeftInner {
  width: 8px;
  height: 6px;
  overflow: hidden;
}
* html .dp-separator .bottomRightInner {
  width: 8px;
  height: 6px;
  overflow: hidden;
}


.dp-menu {}
.dp-menu .middleCenter {
    background-color: #000000;
}

.dp-menu .topCenter{
  background: url(images/dp-menu.topCenter.png) repeat-x;
}
.dp-menu .bottomCenter {
  background: url(images/dp-menu.bottomCenter.png) repeat-x;
}
.dp-menu .middleLeft {
  background: url(images/dp-menu.left.png) repeat-y;
}
.dp-menu .middleRight {
  background: url(images/dp-menu.right.png) repeat-y;
}
.dp-menu .topLeftInner {
  width: 0px;
  height: 22px;
  zoom: 1;
}
.dp-menu .topRightInner {
  width: 0px;
  height: 22px;
  zoom: 1;
}
.dp-menu .bottomLeftInner {
  width: 0px;
  height: 12px;
  zoom: 1;
}
.dp-menu .bottomRightInner {
  width: 0px;
  height: 12px;
  zoom: 1;
}
.dp-menu .topLeft {
  background: url(images/dp-menu.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.topLeft.png) no-repeat 0px 0px;
}
.dp-menu .topRight {
  background: url(images/dp-menu.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.topRight.png) no-repeat 0px 0px;
}
.dp-menu .bottomLeft {
  background: url(images/dp-menu.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.bottomLeft.png) no-repeat 0px 0px;
}
.dp-menu .bottomRight {
  background: url(images/dp-menu.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-menu .topLeftInner {
  width: 0px;
  height: 22px;
  overflow: hidden;
}
* html .dp-menu .topRightInner {
  width: 0px;
  height: 22px;
  overflow: hidden;
}
* html .dp-menu .bottomLeftInner {
  width: 0px;
  height: 12px;
  overflow: hidden;
}
* html .dp-menu .bottomRightInner {
  width: 0px;
  height: 12px;
  overflow: hidden;
}


.dp-bar {}
.dp-bar .middleCenter {
    background-color: #ffffff;
}

.dp-bar .topCenter{
  background: url(images/dp-bar.topCenter.png) repeat-x;
}
.dp-bar .bottomCenter {
  background: url(images/dp-bar.bottomCenter.png) repeat-x;
}
.dp-bar .middleLeft {
  background: url(images/dp-bar.left.png) repeat-y;
}
.dp-bar .middleRight {
  background: url(images/dp-bar.right.png) repeat-y;
}
.dp-bar .topLeftInner {
  width: 8px;
  height: 12px;
  zoom: 1;
}
.dp-bar .topRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.dp-bar .bottomLeftInner {
  width: 8px;
  height: 12px;
  zoom: 1;
}
.dp-bar .bottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.dp-bar .topLeft {
  background: url(images/dp-bar.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-bar.topLeft.png) no-repeat 0px 0px;
}
.dp-bar .topRight {
  background: url(images/dp-bar.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-bar.topRight.png) no-repeat 0px 0px;
}
.dp-bar .bottomLeft {
  background: url(images/dp-bar.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-bar.bottomLeft.png) no-repeat 0px 0px;
}
.dp-bar .bottomRight {
  background: url(images/dp-bar.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-bar.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-bar .topLeftInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
* html .dp-bar .topRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
* html .dp-bar .bottomLeftInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
* html .dp-bar .bottomRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}


.gwt-MenuBar {
  cursor: default;
  font-size: 10pt;
    font-weight: normal;
}
.gwt-MenuBar .gwt-MenuItem {
  cursor: default;
    font-size: 10pt;
    font-weight: normal;
}
.gwt-MenuBar .gwt-MenuItem-selected {
  background: #cdcdcd;
}
.gwt-MenuBar-horizontal {
  background: #ebebeb url(images/hborder.png) repeat-x 0px -2003px;
  border: 1px solid #BBBBBB;
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
  padding: 0px 10px;
  vertical-align: bottom;
  color: #666666;
  font-weight: bold;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #888888;
  background: white;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  height: 1px;
  background: white;
}
.gwt-MenuBar-vertical {
  margin-top: 0px;
  margin-left: 0px;
  background: white;
}
.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
  padding: 4px 14px 4px 1px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 2px 0px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #777777;
  background: #ddddee;
  overflow: hidden;
}
.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: #cdcdcd;
}
.gwt-MenuBarPopup {
  margin: 0px 0px 0px 3px;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
  background: url(images/hborder.png) 0px -12px repeat-x;
}
.gwt-MenuBarPopup .menuPopupBottomCenter {
  background: url(images/hborder.png) 0px -13px repeat-x;
  -background: url(images/hborder_ie6.png) 0px -13px repeat-x;
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
  background: url(images/vborder.png) -12px 0px repeat-y;
  -background: url(images/vborder_ie6.png) -12px 0px repeat-y;
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
  background: url(images/vborder.png) -13px 0px repeat-y;
  -background: url(images/vborder_ie6.png) -13px 0px repeat-y;
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupTopLeft {
  background: url(images/corner.png) no-repeat 0px -36px;
  -background: url(images/corner_ie6.png) no-repeat 0px -36px;
}
.gwt-MenuBarPopup .menuPopupTopRight {
  background: url(images/corner.png) no-repeat -5px -36px;
  -background: url(images/corner_ie6.png) no-repeat -5px -36px;
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
  background: url(images/corner.png) no-repeat 0px -41px;
  -background: url(images/corner_ie6.png) no-repeat 0px -41px;
}
.gwt-MenuBarPopup .menuPopupBottomRight {
  background: url(images/corner.png) no-repeat -5px -41px;
  -background: url(images/corner_ie6.png) no-repeat -5px -41px;
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}
