.dp-menu {}
.dp-menu .topCenter{
  background: url(images/dp-menu.topCenter.png) repeat-x;
}
.dp-menu .bottomCenter {
  background: url(images/dp-menu.bottomCenter.png) repeat-x;
}
.dp-menu .middleLeft {
  background: url(images/dp-menu.left.png) repeat-y;
}
.dp-menu .middleRight {
  background: url(images/dp-menu.right.png) repeat-y;
}
.dp-menu .topLeftInner {
  width: 12px;
  height: 22px;
  zoom: 1;
}
.dp-menu .topRightInner {
  width: 12px;
  height: 22px;
  zoom: 1;
}
.dp-menu .bottomLeftInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.dp-menu .bottomRightInner {
  width: 12px;
  height: 12px;
  zoom: 1;
}
.dp-menu .topLeft {
  background: url(images/dp-menu.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.topLeft.png) no-repeat 0px 0px;
}
.dp-menu .topRight {
  background: url(images/dp-menu.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.topRight.png) no-repeat 0px 0px;
}
.dp-menu .bottomLeft {
  background: url(images/dp-menu.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.bottomLeft.png) no-repeat 0px 0px;
}
.dp-menu .bottomRight {
  background: url(images/dp-menu.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-menu.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-menu .topLeftInner {
  width: 12px;
  height: 22px;
  overflow: hidden;
}
* html .dp-menu .topRightInner {
  width: 12px;
  height: 22px;
  overflow: hidden;
}
* html .dp-menu .bottomLeftInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
* html .dp-menu .bottomRightInner {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
