.dp-pickpage {}
.dp-pickpage .topCenter{
  background: url(images/dp-pickpage.topCenter.png) repeat-x;
}
.dp-pickpage .bottomCenter {
  background: url(images/dp-pickpage.bottomCenter.png) repeat-x;
}
.dp-pickpage .middleLeft {
  background: url(images/dp-pickpage.left.png) repeat-y;
}
.dp-pickpage .middleRight {
  background: url(images/dp-pickpage.right.png) repeat-y;
}
.dp-pickpage .topLeftInner {
  width: 18px;
  height: 29px;
  zoom: 1;
}
.dp-pickpage .topRightInner {
  width: 18px;
  height: 29px;
  zoom: 1;
}
.dp-pickpage .bottomLeftInner {
  width: 18px;
  height: 33px;
  zoom: 1;
}
.dp-pickpage .bottomRightInner {
  width: 18px;
  height: 33px;
  zoom: 1;
}
.dp-pickpage .topLeft {
  background: url(images/dp-pickpage.topLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.topLeft.png) no-repeat 0px 0px;
}
.dp-pickpage .topRight {
  background: url(images/dp-pickpage.topRight.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.topRight.png) no-repeat 0px 0px;
}
.dp-pickpage .bottomLeft {
  background: url(images/dp-pickpage.bottomLeft.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.bottomLeft.png) no-repeat 0px 0px;
}
.dp-pickpage .bottomRight {
  background: url(images/dp-pickpage.bottomRight.png) no-repeat 0px 0px;
  -background: url(images/dp-pickpage.bottomRight.png) no-repeat 0px 0px;
}
* html .dp-pickpage .topLeftInner {
  width: 18px;
  height: 29px;
  overflow: hidden;
}
* html .dp-pickpage .topRightInner {
  width: 18px;
  height: 29px;
  overflow: hidden;
}
* html .dp-pickpage .bottomLeftInner {
  width: 18px;
  height: 33px;
  overflow: hidden;
}
* html .dp-pickpage .bottomRightInner {
  width: 18px;
  height: 33px;
  overflow: hidden;
}
